<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>wollongong service exchange  - login</title>
    <meta name="keywords" content="wollongong service exchange " />
    <meta name="description" content="wollongong service exchange" />
    <link rel="stylesheet" type="text/css" href="css/StyleSheet.css" />

    <!--[if IE 6]>
    <script src="js/DD_belatedPNG_0.0.8a.js" type="text/javascript"></script>
    <script type="text/javascript">
	DD_belatedPNG.fix('*');
    </script>
     <![endif]-->

    <script language="javascript" type="text/javascript"> 
<!-- 
    window.onerror = function () { return true; }
    // --> 
    </script>


</head>

<body>
    <div class="max">
        <div id="head">
            <div class="m_top_img">
                <img src="images/top1.jpg" width="1920" height="70" />
            </div>
            <form th:action='@{/login}' method="post">
            <div class="loBox">
                <div class="lBox1">
                    <div class="lt1_box">
                        User account | Email
                        <input id="username" type="text" name="username" class="inp22" />
                        <div class="blank10">&nbsp;</div>
                        passwords
                        <input id="password" type="password" name="password" class="inp22" />
                        <div class="blank30">&nbsp;</div>
                        <input id="Checkbox1" type="checkbox" checked="checked" class="inp23" />
                        <span>remember account &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
                                                
                        <a href="forget_login.html" target="_blank">forget passwords </a>
                         <a href="index.html" >&nbsp;&nbsp;&nbsp;goto HOME</a>
                        <div class="blank10">&nbsp;</div>
                        <!--a href="member_login.html" class="inp24">
                            <img src="images/log1.jpg" alt="login" width="307" height="34" />
                        </a-->
                        <input class="inp24" type="image" src="images/log1.jpg" alt="login" >
                        </input>
                       
                        <div class="blank30">&nbsp;</div>
                        <a href="register.html" class="inp25">
                            <img src="images/free1.jpg" alt="register" width="119" height="44" /></a>
                             </div>
                 
                </div>
                
            </div>
            </form>
        </div>
         
         
         
         
        <div class="clear"></div>
         
        <div class="m_footer">
            <div class="m_footer_txt">
                <div class="m_link">
                    <div class="s_link_cokk">
                        cooperative partner
                    </div>
                    <div class="m_link_list">
                        <ul>
                            <li><a href="##">
                                <img src="images/JD.jpg" /></a></li>
                            
                            <li><a href="##">
                                <img src="images/JD.jpg" /></a></li>
                           
                            <li><a href="##">
                                <img src="images/JD.jpg" /></a></li>
                            
                            <li><a href="##">
                                <img src="images/JD.jpg" /></a></li>
                        </ul>
                    </div>
                </div>
                <div class="blank20">&nbsp;</div>
                <div class="m_link">
                    <div class="m_list_box">
                        <div class="bottom" style="padding-top: 10px; width:1120px; margin-left:-33px;">
                            <div class="bottom_tp1"></div>
                            <div class="bottom_list">
                            
                            
                              
                            <ul>
                                <li><strong>help center</strong></li>
                                <li><a href="service_show.html">orientation guide</a></li>
                                <li><a href="service_show.html">common issue</a></li>
                                <li><a href="service_show.html">service policy</a></li>
                            </ul>
                        </div>
                        <div class="bottom_tp2"></div>
                        <div class="bottom_list">
                            <ul>
                                <li><strong>payment method</strong></li>
                                <li><a href="service_show.html">pay on delivery</a></li>
                                <li><a href="service_show.html">cash on delivery</a></li>
                            </ul>
                        </div>
                        <div class="bottom_tp3"></div>
                        <div class="bottom_list">
                           
                        </div>
                       
                       
                        <div class="bottom_tp5"></div>
                        <div class="bottom_list" style="width:150px;">
                            <ul>
                                <li><strong>service ssuranc</strong></li>
                                <li><a href="service_show.html">refund</a></li>
                                <li><a href="service_show.html">find seller</a></li>
                               
                            </ul>
                        </div>
                        <div class="line_box" style="width:150px;">
                            <div class="line"><span class="line_title">contact number</span></div>
                            <div class="line_tel"><strong>+61476145657</strong></div>
                            <div class="line_kf">
                                <a target="_blank" href="##">
                                    <img src="images/qq1.jpg" /></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="blank20">&nbsp;</div>
            <div class="bot">
                <div class="bot_link">
                       |<a href="service_show.html" target="_blank">service and support</a>
                       |<a href="service_show.html" target="_blank">delivery And payment</a>
                        |<a href="service_show.html" target="_blank">after sale service</a>
                </div>

                <div class="bot_wz">
                    Copyright  2017 All Rights Reserved<br/>
                    
                </div>
            </div>
            <div class="blank20">&nbsp;</div>
        </div>
    </div>
    </div>
</body>
</html>
