<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>wollongong service exchange  - view order</title>
    <meta name="keywords" content="wollongong service exchange " />
    <meta name="description" content="wollongong service exchange" />
    <link rel="stylesheet" type="text/css" href="css/StyleSheet.css" />

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jkmegamenu.js"></script>
    <script type="text/javascript">
        //jkmegamenu.definemenu("anchorid", "menuid", "mouseover|click")
        jkmegamenu.definemenu("megaanchor", "megamenu1", "mouseover")
    </script>
    <script type="text/javascript" src="js/erji.js"></script>
    <!--[if IE 6]>
    <script src="js/DD_belatedPNG_0.0.8a.js" type="text/javascript"></script>
    <script type="text/javascript">
	DD_belatedPNG.fix('*');
    </script>
     <![endif]-->

    <script type="text/javascript" src="js/lcshopz.js"></script>
    <script type="text/javascript" src="js/evaluation.js"></script>
    <script language="javascript" type="text/javascript"> 
<!-- 
    window.onerror = function () { return true; }
    // --> 
    </script>

    <script type="text/javascript">
        function cfm_msg() {

            if ($("#title").val() == "") {
                alert("pls write comment title!");
                $("#title").focus();
                return false;
            }

            if ($("#content").val() == "") {
                alert("pls write comment!");
                $("#content").focus();
                return false;
            }
            $("#form").submit();
        }

        $(function () {


            $("#title").focus(function () {
                $("#title").attr("class", "msg_input_on");
            }).blur(function () {
                $("#title").attr("class", "msg_input");
            });

            $("#content").focus(function () {
                $("#content").attr("class", "msg_input_on");
            }).blur(function () {
                $("#content").attr("class", "msg_input");
            });

            $("#title").focus();
        });
</script>

</head>

<body>
    <div class="max">
        <div id="head">
            <div align="center"></div>
            <div class="m_top_img">
                <img src="images/top1.jpg" width="1920" height="70" />
            </div>
            <div class="m_top_txt">
                <div class="m_top_txt_con">
                    <div class="m_top_con_left">
                    
                    
                    Hi,welcome to wollonging service exchanges web !
                    </div>
                    <div class="m_top_con_right">
                        <img src="images/tel.jpg" />
                        <div class="m_top_menu">
                            <ul>
                                <li><a href="index_login.html">log in</a></li>
                                <li><a href="register.html">register</a></li>
                                <li><a href="member_order.html">my order</a></li>
                                <li style="background: none;"><a href="service.html">service center</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m_top_middle">
                <div class="m_top_box1">
                    <div class="m_logo">
                        <h1><a href="index.html">
                            <img src="images/logo.jpg" width="207" height="67" />
                        </a></h1>
                    </div>
                    
                    <div style="float: left;" class="chang0">
                       
                        <div id="menulayer_1" style="visibility: hidden; padding: 5px; margin-left: -56px; margin-top: 4px; width: 148px; height: 145px; background: none repeat scroll 0% 0% #FFF; box-shadow: 0px 0px 5px #AAA; position: absolute; z-index: 999;">
                           
                        </div>
                    </div>
                    <div class="ss">
                        <div class="ss_top">
                            <form action="/searchtest" th:action="@{/searchtest}" th:object="${search}">
    						<!-- <label for="search_input">Search:</label>--> 
    						<input type="text" name ="search" id="search" value="input key words" onfocus="this.value=''" onblur="if(this.value==''){this.value='input key words'}" class="inp1" />
                            <input id="Button1" type="submit" value="search" class="inp2" />
    					</form>
                        </div>
                                           </div>
                    <div class="hd_gwc">
                        <span class="hd_sz">0</span>
                        <a href="##" class="hd_wz">check cart
                        </a>
                    </div>
                </div>
            </div>
                  
            
            
            
            
            <div class="s_menu_box1">
                <div class="s_mBox">
                    <div class="sl_menu">
                        <!--Mega Menu Anchor-->
                        <div id="megaanchor"><a>classification</a></div>
                        <!--Mega Drop Down Menu HTML. Retain given CSS classes-->
                        <div id="megamenu1" class="sidebar">
                            <ul id="menu">
                                
                                <li><a href="best_sellers.html">Book</a>
                                    <div class="cms_submenu" style="margin-top: -10px;">
                                        <div class="cmsmenuleft">
                                            <b>computer science</b>
                                            <i>
                                               <a href="prod_list.html"
                                                    style="color: #333">Java</a>
                                                <a href="prod_list.html"
                                                    style="color: #333">Database</a>
                                                <a href="prod_list.html" style="color: #333">others</a>
                          
                                            </i>
                                            
                                            <b>Law</b>
                                            <i>
                                              <a href="prod_list.html"
                                                  style="color: #333">international Law</a>
                                              <a href="prod_list.html"
                                                  style="color: #333">Australian Law</a>
                                              <a href="prod_list.html" style="color: #333">others</a>
                                            </i>
                                            
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </li>
                                
                                
                                
                                 <li><a href="best_sellers.html">class</a>
                                    <div class="cms_submenu" style="margin-top: -10px;">
                                        <div class="cmsmenuleft">
                                            <b>computer scinece</b>
                                            <i>
                                               <a href="prod_list.html"
                                                    style="color: #333">Java</a>
                                                <a href="prod_list.html"
                                                    style="color: #333">Database</a>
                                                <a href="prod_list.html" style="color: #333">others</a>
                          
                                            </i>
                                            
                                            <b>Law</b>
                                            <i>
                                              <a href="prod_list.html"
                                                  style="color: #333">international Law</a>
                                              <a href="prod_list.html"
                                                  style="color: #333">Australian Law</a>
                                              <a href="prod_list.html" style="color: #333">others</a>
                                            </i>
                                            
                                        </div>
                                       
                                        <div class="clear"></div>
                                    </div>
                                </li>
                                
                                
                                 
                                <li><a href="best_sellers.html">food</a>
                                    <div class="cms_submenu" style="margin-top: -10px;">
                                        <div class="cmsmenuleft">
                                            <b>Australian food</b>
                                            <i>
                                              <a href="prod_list.html"
                                                       style="color: #333">burger</a>
                                              <a href="prod_list.html"
                                                       style="color: #333">noodle</a>
                                              <a href="prod_list.html"
                                                       style="color: #333">others</a>
                                             </i>
                                            
                                            <b>Chinese food</b>
                                            <i>
                                               <a href="prod_list.html"
                                                      style="color: #333">dishes</a>
                                               <a href="prod_list.html"
                                                      style="color: #333">soap</a>
                                               <a href="prod_list.html"
                                                      style="color: #333">snack</a>
                                               <a href="prod_list.html" style="color: #333">others</a>
                                            </i>
                                            
                                           <b>Indian</b>
                                            <i>
                                               <a href="prod_list.html"
                                                           style="color: #333">dish</a>
                                               <a href="prod_list.html"
                                                           style="color: #333">soup</a>
                                                <a href="prod_list.html"
                                                           style="color: #333">snack</a>
                                               <a href="prod_list.html" style="color: #333">others</a>
                                            </i>
                                            
                                             <b>Vietnamese food</b>
                                            <i>
                                                <a href="prod_list.html"
                                                             style="color: #333">dish</a>
                                                <a href="prod_list.html"
                                                           style="color: #333">soup</a>
                                                <a href="prod_list.html"
                                                           style="color: #333">snack</a>
                                                <a href="prod_list.html" style="color: #333">others</a>
                                            </i>
                                                                                      
                                        </div>
                                        
                                        <div class="clear"></div>
                                    </div>
                                </li>
                                
                                <li><a href="best_sellers.html">drink</a>
                                    <div class="cms_submenu" style="margin-top: -10px;">
                                        <div class="cmsmenuleft">
                                            <b>Australian drink</b>
                                            <i>
                                               <a href="prod_list.html"
                                                          style="color: #333">beverage</a>
                                               <a href="prod_list.html"
                                                          style="color: #333">juice</a>
                                               <a href="prod_list.html"
                                                          style="color: #333">beer</a>
                                               <a href="prod_list.html" style="color: #333">others</a>
                          
                                            </i>
                                            
                                             <b>Chinese drink</b>
                                            <i>
                                              <a href="prod_list.html"
                                                         style="color: #333">beverage</a>
                                              <a href="prod_list.html"
                                                         style="color: #333">juice</a>
                                              <a href="prod_list.html"
                                                         style="color: #333">beer</a>
                                              <a href="prod_list.html" style="color: #333">others</a>
                                            </i>
                                            
                                              <b>Indian drink</b>
                                                            <i>
                                                                <a href="prod_list.html"
                                                                    style="color: #333">beverage</a>
                                                                <a href="prod_list.html"
                                                                    style="color: #333">juice</a>
                                                                <a href="prod_list.html"
                                                                    style="color: #333">beer</a>
                                                                <a href="prod_list.html" style="color: #333">others</a>
            
                                                            </i>
                                                            <b>Vietnamese drink</b>
                                                            <i>
                                                                 <a href="prod_list.html"
                                                                    style="color: #333">beverage</a>
                                                                <a href="prod_list.html"
                                                                    style="color: #333">juice</a>
                                                                <a href="prod_list.html"
                                                                    style="color: #333">beer</a>
                                                                <a href="prod_list.html" style="color: #333">others</a>
                                                               </i>
                                            
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </li>
                                
                                
                                <li><a href="best_sellers.html">pick up and delivery service</a>
                                    <div class="cms_submenu" style="margin-top: -10px;">
                                        <div class="cmsmenuleft">
                                            <b>near wollongong</b>
                                            <i>
                                               <a href="prod_list.html"
                                                         style="color: #333">fairy meadow</a>
                                               <a href="prod_list.html"
                                                         style="color: #333">Keiraville</a>
                                               <a href="prod_list.html"
                                                         style="color: #333">Gwynneville</a>
                                               <a href="prod_list.html" 
                                                         style="color: #333">North wollongong</a>
                                               <a href="prod_list.html"
                                                          style="color: #333">wollongong center</a>
                                               <a href="prod_list.html" 
                                                          style="color: #333">others</a>
                          
                                            </i>
                                            
                                            <b>out of wollogong</b>
                                            <i>
                                              <a href="prod_list.html"
                                                            style="color: #333">figtree</a>
                                              <a href="prod_list.html"
                                                            style="color: #333">corrimal</a>
                                              <a href="prod_list.html" 
                                                            style="color: #333">sydney airport</a>
                                              <a href="prod_list.html"
                                                            style="color: #333">sydney airport</a>
                                              <a href="prod_list.html" 
                                                            style="color: #333">others</a>
                                            </i>
                                            
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </li>
                                
                                
                                
                                <!-- End 12 columns Item -->
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <!--导航特效代码结束-->
                    </div>
                    <div class="r_menu">
                        <div class="m_mavi">
                            <ul>
                                 <li><a href="index.html">HOME</a></li>
                                 <li><a href="point_list.html">RECOMMENDATION</a></li>

                                <li><a href="prod_list.html">NEW SERVICE</a></li>
                                
                                <li><a href="prod_list.html">DISCOUNT</a></li>
                                 <li><a href="prod_list.html">FIRST TIME USER</a></li>
                                
                                <li><a href="prod_list.html">MY SERVICE</a></li>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blank5">&nbsp;</div>
        <div id="c_contect">
            <div class="bodys">
        <div class="help"><span class="help_tops"><strong class="lsize">member center</strong>&nbsp;&gt;&nbsp;<a href="#"> order-center</a> &nbsp;&gt;&nbsp;order number:142494028225</span></div>
        <div class="ddxq_top">
            <div class="ddxq_top_t">
            <a >&nbsp;</a>
              order number：142494028225  situation:<span class="lcolor">  wait for payment
    </span><span style="float:right; margin-right:720px;"></span></div>
            <div class="ddxq_top_b">order has been generated,thank you for shopping and look forward to your comment.
                                                                            </div>
        </div>
        <!--  进度条  -->
        <div class="ddxq_jd">&nbsp;</div>
        <div class="ddxq_list" style="margin-left:115px;">
            <ul>
            
                <li>submit order<br />
                    <span class="lcolor1">&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                                                <li>
                    wait for payment
                 </li>
                   
                                 
                                                                                                                                  </ul>
        </div>
        <!--  跟踪  -->
        <div class="ddgz">
            <div class="ddgz_top">
                <div class="ddgz_link">
                    <ul>
                        <li><span id="ddgz_bj" style="  display:block;width:76px;background:#fff; border-bottom: solid 1px #fff;"><a href="#" onclick="genzong();"><span id="lcolor2" style="color:#000;">order</span></a></span></li>
                        <li><span id="ddgz_bj2"><a href="#" onclick="info();"><span id="lcolor22">payment</span></a></span></li>
                        <!--<li><a href="#"> 订单轨迹</a></li>-->
                    </ul>
                </div>
                <!--<div class="ddgz_top_wz"><img src="templates/default/images/ddxq_6.jpg" align="left" /><a href="#">订单状态，掌握手中，手机龙采</a></div>-->
            </div>
            <div class="ddgz_bottom"> 
            	<script type="text/javascript">
            	    function info() {
            	        $("#lcolor22").css("color", "#333");
            	        $("#ddgz_bj2").css({
            	            "width": "76px",
            	            "height": "31px",
            	            "float": "left",
            	            "background": "#fff",
            	            "color": "#333",
            	        });
            	        $("#lcolor2").css("color", "#999");
            	        $("#ddgz_bj").css("background", "url(../images/ddxq_5.jpg) repeat-x top left");
            	        $("#genzong").css("display", "none");
            	        $("#info").css("display", "block");
            	    }
            	    function genzong() {
            	        $("#lcolor2").css("color", "#333");
            	        $("#ddgz_bj").css({
            	            "width": "76px",
            	            "height": "31px",
            	            "float": "left",
            	            "background": "#fff",
            	            "color": "#333",
            	        });
            	        $("#lcolor22").css("color", "#999");
            	        $("#ddgz_bj2").css("background", "url(../images/ddxq_5.jpg) repeat-x top left");
            	        $("#genzong").css("display", "block");
            	        $("#info").css("display", "none");
            	    }
                </script>
            	<div id="genzong" style="display:block">
                                not delivery yet
                              </div>
                <div id="info" style="display:none;">
                	<div class="ddxx_list">
                        <ul>
                            <li>payment & delivery method<br />
                                 payment method: cash<br />
                                 delivery method：NULL<br />
                       			 delivery fee：$0.00<br />
                                 delivery date: 2017/08/9</li>
                        </ul>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="ddxx"><span class="ddxx_title">bill information</span>
            <div class="ddxx_list">
                <ul>
                    <li><strong>customer information</strong><br />
                        name:frank<br />
                        address:Australia NSW wollonong fairy meadow 23<br />
                        fix phone:<br />
                        telephone:0476145657<br />
                        <!--电子邮件：142494028225--></li>
                    <li>payment & delivery method<br />
                        payment method: cash<br />
                        delivery method：NULL<br />
                        delivery fee：$0.00<br />
                        delivery date: 2017/08/9</li>
                   
                </ul>
            </div>
            <div class="spqd"><span class="ddxx_title">bill</span>
                <div class="spqd_lists">
                    <table cellpadding="0" cellspacing="0" width="1098">
                        <tbody>
                            <tr class="spqd_bk">
                                <th width="113" height="35" align="center" valign="middle"> product number </th>
                                <th width="171" align="center" valign="middle"> product picture </th>
                                <th width="335" align="center" valign="middle"> product name </th>
                                <th width="104" align="center" valign="middle"> price </th>
                                <th width="76" align="center" valign="middle"> XXXXX </th>
                                <th width="70" align="center" valign="middle"> amount </th>
                                <th width="227" align="center" valign="middle"> operate </th>
                            </tr>
                            
                                                        <tr>
                                <td align="center" valign="middle">37</td>
                                <td height="60" align="center" valign="middle"><a href="prod_show.html"><img src="images/1416400002.jpg" width="50" height="30" /></a></td>
                                <td class="spqds"><a href="item_show.php?id=37">dumpling</a><strong style="color:#d00; font-family:Arial;"></strong></td>
                                <td align="center" valign="middle" class="lcolor3"> $20.00</td>
                                <td align="center" valign="middle">1</td>
                                <td align="center" valign="middle">1</td>
                             <td align="center" valign="middle" class="spqd1"><a href='javascript:;' onclick="evaluation_show(0)">                           
assessment</a> <br />
<div id='evaluation0' class="evaluation">
     <div class="evaluation_close tr" onclick="evaluation_hide(0)"></div>
     <div class="cl">
     <div class="dd_top" style="width:500px;"><span class="dd_t">add comment</span></div>
     <iframe src="member.html" width="500" height="277" frameborder="0" scrolling="no"></iframe>
     </div>
</div>
                                    <!--<a href="#">申请返修/退换货</a> <br />-->
                                   <!-- <a href="javascript:;" onclick="AddShopCart('shopcar_popup')"><img src="templates/default/images/ddxq_7.jpg" alt="还要买" /></a> --> </td>
                            </tr>
                                                        <tr>
                                <td align="center" valign="middle">35</td>
                                <td height="60" align="center" valign="middle"><a href="prod_show.html"><img src="images/1416407079.jpg" width="50" height="30" /></a></td>
                                <td class="spqds"><a href="item_show.php?id=35">chicken fired rice </a><strong style="color:#d00; font-family:Arial;"></strong></td>
                                <td align="center" valign="middle" class="lcolor3"> $23.00</td>
                                <td align="center" valign="middle">1</td>
                                <td align="center" valign="middle">1</td>
                                <td align="center" valign="middle" class="spqd1"><a href='javascript:;' onclick="evaluation_show(35)">
                                
assessment</a> <br />
<div id='evaluation35' class="evaluation">
     <div class="evaluation_close tr" onclick="evaluation_hide(35)"></div>
     <div class="cl">
     <div class="dd_top" style="width:500px;"><span class="dd_t">add comment</span></div>
     <iframe src="member.html" width="500" height="277" frameborder="0" scrolling="no"></iframe>
     </div>
</div>
                                    <!--<a href="#">申请返修/退换货</a> <br />-->
                                   <!-- <a href="javascript:;" onclick="AddShopCart('shopcar_popup')"><img src="templates/default/images/ddxq_7.jpg" alt="还要买" /></a> --> </td>
                            </tr>
                                                        
                                                    </tbody>
                    </table>
                </div>
                <div class="spqd_wz"></div>
            </div>
            <!--金额-->
            <div class="total">
                <ul>
                    <li><span>total price:</span>$5227.00</li>
                    <li><span>+ delivery：</span>$10.00</li>
<!--                    <li><span>- 返现：</span>￥0.00</li>
                    <li><span>- 余额：</span>￥0.00</li> -->
                </ul>
            </div>
            <div class="total">
                <div class="extra"> final price:<span class="ftx04"><b>$5237</b></span> </div>
            </div>
        </div>
    </div>
        </div>
        <div class="blank10"></div>
        <div class="m_footer">
            <div class="m_footer_txt">
                <div class="m_link">
                    <div class="s_link_cokk">
                       
                       
                       
                       
                       cooperative partner
                </div>
                <div class="m_link_list">
                    <ul>
                        <li><a href="##">
                            <img src="images/JD.jpg" /></a></li>
                       
                     
                        <li><a href="##">
                            <img src="images/JD.jpg" /></a></li>
                        <li><a href="##">
                            <img src="images/JD.jpg" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="blank20">&nbsp;</div>
                       
            <div class="m_link">
                <div class="m_list_box">
                    <div class="bottom" style="padding-top: 10px">
                        <div class="bottom_tp1"></div>
                        <div class="bottom_list">
                            
                            
                            
                            
                            
                            <ul>
                                <li><strong>help center</strong></li>
                                <li><a href="service_show.html">orientation guide</a></li>
                                <li><a href="service_show.html">common issue</a></li>
                                <li><a href="service_show.html">service policy</a></li>
                            </ul>
                        </div>
                        <div class="bottom_tp2"></div>
                        <div class="bottom_list">
                            <ul>
                                <li><strong>payment method</strong></li>
                                <li><a href="service_show.html">pay on delivery</a></li>
                                <li><a href="service_show.html">cash on delivery</a></li>
                            </ul>
                        </div>
                        <div class="bottom_tp3"></div>
                        <div class="bottom_list">
                           
                        </div>
                       
                       
                        <div class="bottom_tp5"></div>
                        <div class="bottom_list" style="width:150px;">
                            <ul>
                                <li><strong>service ssuranc</strong></li>
                                <li><a href="service_show.html">refund</a></li>
                                <li><a href="service_show.html">find seller</a></li>
                               
                            </ul>
                        </div>
                        <div class="line_box" style="width:150px;">
                            <div class="line"><span class="line_title">contact number</span></div>
                            <div class="line_tel"><strong>+61476145657</strong></div>
                            <div class="line_kf">
                                <a target="_blank" href="##">
                                    <img src="images/qq1.jpg" /></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="blank20">&nbsp;</div>
            <div class="bot">
                <div class="bot_link">
                       |<a href="service_show.html" target="_blank">service and support</a>
                       |<a href="service_show.html" target="_blank">delivery & payment</a>
                        |<a href="service_show.html" target="_blank">after sale service</a>
                </div>

                <div class="bot_wz">
                    Copyright  2017 All Rights Reserved<br>
                    
                </div>
            </div>
            <div class="blank20">&nbsp;</div>
        </div>
    </div>
</body>
</html>
