<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>wollongong service exchange  - my message</title>
    <meta name="keywords" content="wollongong service exchange " />
    <meta name="description" content="wollongong service exchange" />
    <link rel="stylesheet" type="text/css" href="css/StyleSheet.css" />
    <link rel="stylesheet" type="text/css" href="css/messageBlock.css" />

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jkmegamenu.js"></script>
    <script type="text/javascript">
        //jkmegamenu.definemenu("anchorid", "menuid", "mouseover|click")
        jkmegamenu.definemenu("megaanchor", "megamenu1", "mouseover")
    </script>
    <script type="text/javascript" src="js/erji.js"></script>
    <!--[if IE 6]>
    <script src="js/DD_belatedPNG_0.0.8a.js" type="text/javascript"></script>
    <script type="text/javascript">
	DD_belatedPNG.fix('*');
    </script>
     <![endif]-->

    <script language="javascript" type="text/javascript"> 
<!-- 
    window.onerror = function () { return true; }
    // --> 
    </script>


</head>

<body>
    <div class="max">
        <div id="head">
            <div align="center"></div>
            <div class="m_top_img">
                <img src="images/top1.jpg" width="1920" height="70" />
            </div>
            <div class="m_top_txt">
                <div class="m_top_txt_con">
                    <div class="m_top_con_left">
                       
                       
                        Hi,welcome to wollonging service exchanges web !
                    </div>
                    <div class="m_top_con_right">
                        <div class="m_top_menu">
                            <ul>
                                <li>Welcome <span th:utext="${userName}"></span></li>
                            		<li><a href="logout" onclick="return confirm('Logout from your account?');">logout</a></li>
                                                            <li><a href="member_center.html">member center</a></li>
                                <li style="background: none;"><a href="service.html">service center</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m_top_middle">
                <div class="m_top_box1">
                    <div class="m_logo">
                        <h1><a href="index.html">
                            <img src="images/logo.jpg" width="207" height="67" />
                        </a></h1>
                    </div>
                    
                    <div style="float: left;" class="chang0">
                       
                        <div id="menulayer_1" style="visibility: hidden; padding: 5px; margin-left: -56px; margin-top: 4px; width: 148px; height: 145px; background: none repeat scroll 0% 0% #FFF; box-shadow: 0px 0px 5px #AAA; position: absolute; z-index: 999;">
                           
                        </div>
                    </div>
                    <div class="ss">
                        <div class="ss_top">
                            <input type="text" value="input key words" onfocus="this.value=''" onblur="if(this.value==''){this.value='input key words'}" class="inp1" />
                            
                            
                            
                            <input id="Button1" type="button" value="search" class="inp2" />
                        </div>
                                           </div>
                    <div class="hd_gwc">
                        <span class="hd_sz">0</span>
                        <a href="shopping.html" class="hd_wz">check cart
                        </a>
                    </div>
                </div>
            </div>
                  
            
            
            
            
            <div class="s_menu_box1">
                <div class="s_mBox">
                    <div class="sl_menu">
                        <!--Mega Menu Anchor-->
                        <div id="megaanchor"><a>classification</a></div>
                        <!--Mega Drop Down Menu HTML. Retain given CSS classes-->
                        <div id="megamenu1" class="sidebar">
                            <ul id="menu">
                                
                                <li><a href="best_sellers.html">Book</a>
                                    <div class="cms_submenu" style="margin-top: -10px;">
                                        <div class="cmsmenuleft">
                                            <b>computer science</b>
                                            <i>
                                               <a href="prod_list.html"
                                                    style="color: #333">Java</a>
                                                <a href="prod_list.html"
                                                    style="color: #333">Database</a>
                                                <a href="prod_list.html" style="color: #333">others</a>
                          
                                            </i>
                                            
                                            <b>Law</b>
                                            <i>
                                              <a href="prod_list.html"
                                                  style="color: #333">international Law</a>
                                              <a href="prod_list.html"
                                                  style="color: #333">Australian Law</a>
                                              <a href="prod_list.html" style="color: #333">others</a>
                                            </i>
                                            
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </li>
                                
                                
                                
                                 <li><a href="best_sellers.html">class</a>
                                    <div class="cms_submenu" style="margin-top: -10px;">
                                        <div class="cmsmenuleft">
                                            <b>computer scinece</b>
                                            <i>
                                               <a href="prod_list.html"
                                                    style="color: #333">Java</a>
                                                <a href="prod_list.html"
                                                    style="color: #333">Database</a>
                                                <a href="prod_list.html" style="color: #333">others</a>
                          
                                            </i>
                                            
                                            <b>Law</b>
                                            <i>
                                              <a href="prod_list.html"
                                                  style="color: #333">international Law</a>
                                              <a href="prod_list.html"
                                                  style="color: #333">Australian Law</a>
                                              <a href="prod_list.html" style="color: #333">others</a>
                                            </i>
                                            
                                        </div>
                                       
                                        <div class="clear"></div>
                                    </div>
                                </li>
                                
                                
                                 
                                <li><a href="best_sellers.html">food</a>
                                    <div class="cms_submenu" style="margin-top: -10px;">
                                        <div class="cmsmenuleft">
                                            <b>Australian food</b>
                                            <i>
                                              <a href="prod_list.html"
                                                       style="color: #333">burger</a>
                                              <a href="prod_list.html"
                                                       style="color: #333">noodle</a>
                                              <a href="prod_list.html"
                                                       style="color: #333">others</a>
                                             </i>
                                            
                                            <b>Chinese food</b>
                                            <i>
                                               <a href="prod_list.html"
                                                      style="color: #333">dishes</a>
                                               <a href="prod_list.html"
                                                      style="color: #333">soap</a>
                                               <a href="prod_list.html"
                                                      style="color: #333">snack</a>
                                               <a href="prod_list.html" style="color: #333">others</a>
                                            </i>
                                            
                                           <b>Indian</b>
                                            <i>
                                               <a href="prod_list.html"
                                                           style="color: #333">dish</a>
                                               <a href="prod_list.html"
                                                           style="color: #333">soup</a>
                                                <a href="prod_list.html"
                                                           style="color: #333">snack</a>
                                               <a href="prod_list.html" style="color: #333">others</a>
                                            </i>
                                            
                                             <b>Vietnamese food</b>
                                            <i>
                                                <a href="prod_list.html"
                                                             style="color: #333">dish</a>
                                                <a href="prod_list.html"
                                                           style="color: #333">soup</a>
                                                <a href="prod_list.html"
                                                           style="color: #333">snack</a>
                                                <a href="prod_list.html" style="color: #333">others</a>
                                            </i>
                                                                                      
                                        </div>
                                        
                                        <div class="clear"></div>
                                    </div>
                                </li>
                                
                                <li><a href="best_sellers.html">drink</a>
                                    <div class="cms_submenu" style="margin-top: -10px;">
                                        <div class="cmsmenuleft">
                                            <b>Australian drink</b>
                                            <i>
                                               <a href="prod_list.html"
                                                          style="color: #333">beverage</a>
                                               <a href="prod_list.html"
                                                          style="color: #333">juice</a>
                                               <a href="prod_list.html"
                                                          style="color: #333">beer</a>
                                               <a href="prod_list.html" style="color: #333">others</a>
                          
                                            </i>
                                            
                                             <b>Chinese drink</b>
                                            <i>
                                              <a href="prod_list.html"
                                                         style="color: #333">beverage</a>
                                              <a href="prod_list.html"
                                                         style="color: #333">juice</a>
                                              <a href="prod_list.html"
                                                         style="color: #333">beer</a>
                                              <a href="prod_list.html" style="color: #333">others</a>
                                            </i>
                                            
                                              <b>Indian drink</b>
                                                            <i>
                                                                <a href="prod_list.html"
                                                                    style="color: #333">beverage</a>
                                                                <a href="prod_list.html"
                                                                    style="color: #333">juice</a>
                                                                <a href="prod_list.html"
                                                                    style="color: #333">beer</a>
                                                                <a href="prod_list.html" style="color: #333">others</a>
            
                                                            </i>
                                                            <b>Vietnamese drink</b>
                                                            <i>
                                                                 <a href="prod_list.html"
                                                                    style="color: #333">beverage</a>
                                                                <a href="prod_list.html"
                                                                    style="color: #333">juice</a>
                                                                <a href="prod_list.html"
                                                                    style="color: #333">beer</a>
                                                                <a href="prod_list.html" style="color: #333">others</a>
                                                               </i>
                                            
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </li>
                                
                                
                                <li><a href="best_sellers.html">pick up and delivery service</a>
                                    <div class="cms_submenu" style="margin-top: -10px;">
                                        <div class="cmsmenuleft">
                                            <b>near wollongong</b>
                                            <i>
                                               <a href="prod_list.html"
                                                         style="color: #333">fairy meadow</a>
                                               <a href="prod_list.html"
                                                         style="color: #333">Keiraville</a>
                                               <a href="prod_list.html"
                                                         style="color: #333">Gwynneville</a>
                                               <a href="prod_list.html" 
                                                         style="color: #333">North wollongong</a>
                                               <a href="prod_list.html"
                                                          style="color: #333">wollongong center</a>
                                               <a href="prod_list.html" 
                                                          style="color: #333">others</a>
                          
                                            </i>
                                            
                                            <b>out of wollogong</b>
                                            <i>
                                              <a href="prod_list.html"
                                                            style="color: #333">figtree</a>
                                              <a href="prod_list.html"
                                                            style="color: #333">corrimal</a>
                                              <a href="prod_list.html" 
                                                            style="color: #333">sydney airport</a>
                                              <a href="prod_list.html"
                                                            style="color: #333">sydney airport</a>
                                              <a href="prod_list.html" 
                                                            style="color: #333">others</a>
                                            </i>
                                            
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </li>
                                
                                
                                
                                <!-- End 12 columns Item -->
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <!--导航特效代码结束-->
                    </div>
                    <div class="r_menu">
                        <div class="m_mavi">
                            <ul>
                                 <li><a href="index.html">HOME</a></li>
                                  <li><a href="recommendation.html">RECOMMENDATION</a></li>
                                <li><a href="new service.html">NEW SERVICE</a></li>
                                
                                <li><a href="discount.html">DISCOUNT</a></li>
                                 <li><a href="first time user.html">FIRST TIME USER</a></li>
                                
                                <li><a href="prod_list.html">MY SERVICE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blank5">&nbsp;</div>
        <div id="c_contect">
            <div class="s_contect_cokk">
                &nbsp;&nbsp;&nbsp;Your location:<a href="index.html">HOME</a>&nbsp;&gt;&nbsp;Member Center  
            </div>
            <div class="c_type">
                <div class="c_tBox">
                    <div class="c_t">
                        <div class="c_t_cokk">
                            <img src="images/ren2.jpg" />account management
                        </div>
                        <div class="c_t_con">
                            <div class="clist">
                                <ul>
                                    <li><a href="member_center.html">specification</a></li>
                                    <li><a href="member_person.html">personal information</a></li>
                                    <li><a href="member_purchase_records.html" >purchase records</a></li>
                                    <li><a href="member_gbook.html" class="chov">my message</a></li>
                                    <li><a href="member_remark.html">my comment</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blank10">&nbsp;</div>
                        <div class="c_t_cokk">
                            <img src="images/dd1.jpg" />operation control
                        </div>
                        <div class="c_d_con">
                            <div class="clist">
                                <ul>
                                    <li><a href="member_order.html">my order</a></li>
                                     <li><a href="member_add_service.html">add new service</a></li>
                                      <li><a href="member_my_service_records.html" >My service records</a></li>
                                     <li><a href="member_discount_offer.html" >discount offer</a></li>
                                    <li><a href="member_address.html">delivery address</a></li>
                                    <li><a href="member_collect.html">my favorite</a></li>
                                    <li><a href="member_credit_transfer.html">credit transfer</a></li>
                                    <li><a href="member_point.html">money transfer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c_right">
                <div class="c_rBox">
                    <div class="remBox" style="width: 900px; height: 700px; overflow: auto;">
                        <div class="eBox" th:each="message : ${messages}" th:switch="${message.sender.email}">
                            <div class="eBox_txt" th:case="${crrUser}">
                                <msg class="left">
                                    <h3><font th:utext="${message.sender.email}"></font></h3>
                                    <span th:utext="${message.content}"> </span>
                                </msg>
                                <div class="clear"></div>
                            </div>
                            <div class="eBox_txt" th:case="*">
                                <msg class="right">
                                    <h3><font th:utext="${message.sender.email}"></font></h3>
                                    <span th:utext="${message.content}"> </span>
                                </msg>
                                <div class="clear"></div>
                            </div>
                        <div class="eBox_more">
                            <span style="color:#feae23;" th:utext="${message.sendTime}"></span> 
                        </div>
                    </div>
                </div>
                <form th:action="@{/insertMsg}" method="post">
                     <textarea name="reply" class="msg_input" style="width: 800px; height: 60px; overflow: auto; float:left; margin-left:10px;" id="content"></textarea>
                     <input name="sender" type="hidden" th:value="${sender}"/>
                     <input value="Reply" type="submit" class="pbtn1"/>
                </form>
            </div>
        </div>
        <div class="clear"></div>
        <div class="m_footer">
            <div class="m_footer_txt">
                <div class="m_link">
                    <div class="s_link_cokk">
                        
                        
                        
                        
                        
                          cooperative partner
                </div>
                <div class="m_link_list">
                    <ul>
                        <li><a href="##">
                            <img src="images/JD.jpg" /></a></li>
                       
                     
                        <li><a href="##">
                            <img src="images/JD.jpg" /></a></li>
                        <li><a href="##">
                            <img src="images/JD.jpg" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="blank20">&nbsp;</div>
                       
            <div class="m_link">
                <div class="m_list_box">
                    <div class="bottom" style="padding-top: 10px">
                        <div class="bottom_tp1"></div>
                        <div class="bottom_list">
                            
                            
                            
                            
                            
                            <ul>
                                <li><strong>help center</strong></li>
                                <li><a href="service_show.html">orientation guide</a></li>
                                <li><a href="service_show.html">common issue</a></li>
                                <li><a href="service_show.html">service policy</a></li>
                            </ul>
                        </div>
                        <div class="bottom_tp2"></div>
                        <div class="bottom_list">
                            <ul>
                                <li><strong>payment method</strong></li>
                                <li><a href="service_show.html">pay on delivery</a></li>
                                <li><a href="service_show.html">cash on delivery</a></li>
                            </ul>
                        </div>
                        <div class="bottom_tp3"></div>
                        <div class="bottom_list">
                           
                        </div>
                       
                       
                        <div class="bottom_tp5"></div>
                        <div class="bottom_list" style="width:150px;">
                            <ul>
                                <li><strong>service ssuranc</strong></li>
                                <li><a href="service_show.html">refund</a></li>
                                <li><a href="service_show.html">find seller</a></li>
                               
                            </ul>
                        </div>
                        <div class="line_box" style="width:150px;">
                            <div class="line"><span class="line_title">contact number</span></div>
                            <div class="line_tel"><strong>+61476145657</strong></div>
                            <div class="line_kf">
                                <a target="_blank" href="##">
                                    <img src="images/qq1.jpg" /></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="blank20">&nbsp;</div>
            <div class="bot">
                <div class="bot_link">
                       |<a href="service_show.html" target="_blank">service and support</a>
                       |<a href="service_show.html" target="_blank">delivery &amp; payment</a>
                        |<a href="service_show.html" target="_blank">after sale service</a>
                </div>

                <div class="bot_wz">
                    Copyright  2017 All Rights Reserved<br/>
                    
                </div>
            </div>
            <div class="blank20">&nbsp;</div>
        </div>
    </div>
    </div>
    </div>
</body>
</html>

