<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>wollongong service exchange - register</title>
    <meta name="keywords" content="wollongong service exchange " />
    <meta name="description" content="wollongong service exchange" />
    <link rel="stylesheet" type="text/css" href="css/StyleSheet.css" />

    <!--[if IE 6]>
    <script src="js/DD_belatedPNG_0.0.8a.js" type="text/javascript"></script>
    <script type="text/javascript">
	DD_belatedPNG.fix('*');
    </script>
     <![endif]-->

    <script language="javascript" type="text/javascript"> 
<!-- 
    window.onerror = function () { return true; }
    // --> 
    </script>
    <link href="css/lightcase.css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/lightcase.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            $('a[data-rel="lightcase:example_group"]').lightcase({ showSequenceInfo: false });
        });
    </script>
</head>

<body>
    <div class="max">
        <div id="head">
            <div class="m_top_img">
                <img src="images/top1.jpg" width="1920" height="70" />
            </div>
        </div>
        <form th:action='@{/register_firstStep}' method="get">
        <div id="enBlack">
            <div class="loBox">
                <div class="lBox1">
                    <div class="enBox">
                        <table border="0" cellpadding="0" cellspacing="0" class="table5">
                            <tr>
                                <th><font>email</font></th>
                                <td>
                                    <input id="email" type="text" name="email" value="wollongong university email" onfocus="this.value=''" onblur="if(this.value==''){this.value='wollongong university email'}" class="tab1" /></td>
                                    <td><input id="register" type="hidden" name="register" value="true" /></td>
                            </tr>
                           
                        </table>
                        <div class="blank15">&nbsp;</div>
                        <table border="0" cellpadding="0" cellspacing="0" class="table5">
                            
                            <tr>
                                <th>&nbsp;</th>
                                <td>
                                    <input id="Checkbox1" type="checkbox" checked="checked" class="inp23" />
                                    <span style="float: left; margin-left: 4px;">I agree with the policy&nbsp;</span>
                                    <div class="thumbs">
                                        <ul>
                                            <li><a id="various1" data-rel="lightcase:example_group" href="#inline1">Our Policy</a></li>
                                        </ul>
                                        <div id="inline1" style="display: none;">
                                            <div class="thumbox">
                                                <div class="thumbox_cokk">
                                                    User Policy
                                                </div>
                                                <div class="thumbox_con">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    The Services to be posted on the platform are defined in the terms and conditions page which you accept before creating any account or affiliation with this system. Any services that breaches the limitations or tends to harm any user will be immediately removed. Any service that receives three or more complaints from users will be put on hold for investigation. The service will then not be available on the platform until the investigation is completed or written clarification is presented to the administrative department of the system. The contact personals are clearly defined, and their contact email is provided at the beginning of this document. Any changes to Terms and conditions or any documentations will be notified to each user via email address registered on the system.
                                                    &nbsp; <br/>
                                                    As getting started to use the system, user creates an account, providing an email address to system during registering process. A system generated password will be sent to the given address. If at any time if user forgets the credentials, user has options to regenerate the password by clicking on “forgot password” button in the login page. <br/>
When filling up personal details form, user may unknowingly fill in wrong data like spelling of name, address, or wrong order of phone number or even sometimes suburb and zip code. Additionally, there may be situations when users change his/her address, contacts like mobile number or email address. In these situations, user can navigate to Member center and then to personal details page where s/he can make corrections easily.
 <br/>                                                   
This privacy notice discloses the privacy practices for “Service exchange”. This privacy notice applies solely to information collected by this website. It will notify you of the following:<br/>
1. 1.	What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.<br/>
2. 2.	What choices are available to you regarding the use of your data.<br/>
3. 3.	The security procedures in place to protect the misuse of your information.<br/>
4. 4.	How you can correct any inaccuracies in the information.<br/>
Information Collection, Use, and Sharing <br/> We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.
We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfil your request, e.g. to ship an order.
Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.<br/>
Your Access to and Control Over Information <br/> You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:<br/>
* •	See what data we have about you, if any.<br/>
* •	Change/correct any data we have about you.<br/>
* •	Have us delete any data we have about you.<br/>
* •	Express any concern you have about our use of your data.<br/>
Security <br/> We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.<br/>
Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.<br/>
While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.<br/>
If you feel that we are not abiding by this privacy policy, you should contact us immediately via email to any Help desk officer enlisted in point of contact document.<br/>

                                                </div>
                                                <div class="blank20">&nbsp;</div>
<span style="float:left; margin-left:360px;"><a href="register.html"><img src="images/agree1.jpg" width="222" height="34" /></a></span>
                                            </div>
                                        </div>
                                    </div>
                                  
<span style="float:left;">
<!--a href="register.html"><img src="images/reg1.jpg" width="271" height="36" /></a-->
<input class="inp24" type="image" src="images/reg1.jpg" alt="register" ></input>
</span><br />
<span style="float:left; padding-left:50px; padding-top:10px; font-family:微软雅黑; font-size:14px; color:#333; line-height:30px;">go to<a style=" font-family:微软雅黑; font-size:14px;color:#ee1313; line-height:30px; padding-left:10px;" href="index_login.html">login page</a> or<a style=" font-family:微软雅黑; font-size:14px;color:#ee1313; line-height:30px; padding-left:10px;" href="index.html">HOME</a></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <div class="clear"></div>
        <div class="m_footer">
            <div class="m_footer_txt">
                <div class="m_link">
                    <div class="s_link_cokk">
                        
                        
                        
                       cooperative partner
                </div>
                <div class="m_link_list">
                    <ul>
                        <li><a href="##">
                            <img src="images/JD.jpg" /></a></li>
                       
                     
                        <li><a href="##">
                            <img src="images/JD.jpg" /></a></li>
                        <li><a href="##">
                            <img src="images/JD.jpg" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="blank20">&nbsp;</div>
                       
            <div class="m_link">
                <div class="m_list_box">
                    <div class="bottom" style="padding-top: 10px">
                        <div class="bottom_tp1"></div>
                        <div class="bottom_list">
                            
                            <ul>
                                <li><strong>help center</strong></li>
                                <li><a href="service_show.html">orientation guide</a></li>
                                <li><a href="service_show.html">common issue</a></li>
                                <li><a href="service_show.html">service policy</a></li>
                            </ul>
                        </div>
                        <div class="bottom_tp2"></div>
                        <div class="bottom_list">
                            <ul>
                                <li><strong>payment method</strong></li>
                                <li><a href="service_show.html">pay on delivery</a></li>
                                <li><a href="service_show.html">cash on delivery</a></li>
                            </ul>
                        </div>
                        <div class="bottom_tp3"></div>
                        <div class="bottom_list">
                           
                        </div>
                       
                       
                        <div class="bottom_tp5"></div>
                        <div class="bottom_list" style="width:150px;">
                            <ul>
                                <li><strong>service ssuranc</strong></li>
                                <li><a href="service_show.html">refund</a></li>
                                <li><a href="service_show.html">find seller</a></li>
                               
                            </ul>
                        </div>
                        <div class="line_box" style="width:150px;">
                            <div class="line"><span class="line_title">contact number</span></div>
                            <div class="line_tel"><strong>+61476145657</strong></div>
                            <div class="line_kf">
                                <a target="_blank" href="##">
                                    <img src="images/qq1.jpg" /></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="blank20">&nbsp;</div>
            <div class="bot">
                <div class="bot_link">
                       |<a href="service_show.html" target="_blank">service and support</a>
                       |<a href="service_show.html" target="_blank">delivery &amp; payment</a>
                        |<a href="service_show.html" target="_blank">after sale service</a>
                </div>

                <div class="bot_wz">
                    Copyright  2017 All Rights Reserved<br/>
                    
                </div>
            </div>
            <div class="blank20">&nbsp;</div>
        </div>
</div>
</div>
</body>
</html>
