<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>wollongong service exchange - register</title>
    <meta name="keywords" content="wollongong service exchange " />
    <meta name="description" content="wollongong service exchange" />
    <link rel="stylesheet" type="text/css" href="css/StyleSheet.css" />

    <!--[if IE 6]>
    <script src="js/DD_belatedPNG_0.0.8a.js" type="text/javascript"></script>
    <script type="text/javascript">
	DD_belatedPNG.fix('*');
    </script>
     <![endif]-->

    <script language="javascript" type="text/javascript"> 
<!-- 
    window.onerror = function () { return true; }
    // --> 
    </script>
    <link href="css/lightcase.css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/lightcase.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            $('a[data-rel="lightcase:example_group"]').lightcase({ showSequenceInfo: false });
        });
    </script>
</head>

<body>
    <div class="max">
        <div id="head">
            <div class="m_top_img">
                <img src="images/top1.jpg" width="1920" height="70" />
            </div>
        </div>
        <form th:action='@{usr/register}' method="post">
        <div id="enBlack">
            <div class="loBox">
                <div class="lBox1">
                    <div class="enBox">
                        <table border="0" cellpadding="0" cellspacing="0" class="table5">
                            <tr>
                                <th><font>email</font></th>
                                <td>
                                    <input id="email" type="text" name="email" value="wollongong university email" onfocus="this.value=''" onblur="if(this.value==''){this.value='wollongong university email'}" class="tab1" /></td>
                            </tr>
                           
                        </table>
                        <div class="blank15">&nbsp;</div>
                        <table border="0" cellpadding="0" cellspacing="0" class="table5">
                            
                            <tr>
                                <th>&nbsp;</th>
                                <td>
                                    <input id="Checkbox1" type="checkbox" checked="checked" class="inp23" />
                                    <span style="float: left; margin-left: 4px;">I agree with the policy&nbsp;</span>
                                    <div class="thumbs">
                                        <ul>
                                            <li><a id="various1" data-rel="lightcase:example_group" href="#inline1">Our Policy</a></li>
                                        </ul>
                                        <div id="inline1" style="display: none;">
                                            <div class="thumbox">
                                                <div class="thumbox_cokk">
                                                    User Policy
                                                </div>
                                                <div class="thumbox_con">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;our responsibility is XXXXXXXXX!
                                                </div>
                                                <div class="blank20">&nbsp;</div>
<span style="float:left; margin-left:360px;"><a href="register.html"><img src="images/agree1.jpg" width="222" height="34" /></a></span>
                                            </div>
                                        </div>
                                    </div>
                                  
<span style="float:left;">
<!--a href="register.html"><img src="images/reg1.jpg" width="271" height="36" /></a-->
<input class="inp24" type="image" src="images/reg1.jpg" alt="register" ></input>
</span><br />
<span style="float:left; padding-left:50px; padding-top:10px; font-family:微软雅黑; font-size:14px; color:#333; line-height:30px;">go to<a style=" font-family:微软雅黑; font-size:14px;color:#ee1313; line-height:30px; padding-left:10px;" href="index_login.html">login page</a> or<a style=" font-family:微软雅黑; font-size:14px;color:#ee1313; line-height:30px; padding-left:10px;" href="index.html">HOME</a></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <div class="clear"></div>
        <div class="m_footer">
            <div class="m_footer_txt">
                <div class="m_link">
                    <div class="s_link_cokk">
                        
                        
                        
                       cooperative partner
                </div>
                <div class="m_link_list">
                    <ul>
                        <li><a href="##">
                            <img src="images/JD.jpg" /></a></li>
                       
                     
                        <li><a href="##">
                            <img src="images/JD.jpg" /></a></li>
                        <li><a href="##">
                            <img src="images/JD.jpg" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="blank20">&nbsp;</div>
                       
            <div class="m_link">
                <div class="m_list_box">
                    <div class="bottom" style="padding-top: 10px">
                        <div class="bottom_tp1"></div>
                        <div class="bottom_list">
                            
                            <ul>
                                <li><strong>help center</strong></li>
                                <li><a href="service_show.html">orientation guide</a></li>
                                <li><a href="service_show.html">common issue</a></li>
                                <li><a href="service_show.html">service policy</a></li>
                            </ul>
                        </div>
                        <div class="bottom_tp2"></div>
                        <div class="bottom_list">
                            <ul>
                                <li><strong>payment method</strong></li>
                                <li><a href="service_show.html">pay on delivery</a></li>
                                <li><a href="service_show.html">cash on delivery</a></li>
                            </ul>
                        </div>
                        <div class="bottom_tp3"></div>
                        <div class="bottom_list">
                           
                        </div>
                       
                       
                        <div class="bottom_tp5"></div>
                        <div class="bottom_list" style="width:150px;">
                            <ul>
                                <li><strong>service ssuranc</strong></li>
                                <li><a href="service_show.html">refund</a></li>
                                <li><a href="service_show.html">find seller</a></li>
                               
                            </ul>
                        </div>
                        <div class="line_box" style="width:150px;">
                            <div class="line"><span class="line_title">contact number</span></div>
                            <div class="line_tel"><strong>+61476145657</strong></div>
                            <div class="line_kf">
                                <a target="_blank" href="##">
                                    <img src="images/qq1.jpg" /></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="blank20">&nbsp;</div>
            <div class="bot">
                <div class="bot_link">
                       |<a href="service_show.html" target="_blank">service and support</a>
                       |<a href="service_show.html" target="_blank">delivery &amp; payment</a>
                        |<a href="service_show.html" target="_blank">after sale service</a>
                </div>

                <div class="bot_wz">
                    Copyright  2017 All Rights Reserved<br/>
                    
                </div>
            </div>
            <div class="blank20">&nbsp;</div>
        </div>
</div>
</div>
</body>
</html>
